<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap" rel="stylesheet">

    <title>codeft.reg</title>
</head>
<body>
    <div class="container">

        <div class="row mb-5 align-items-center">
            <img class="col-1" id="logo" src="img/logo.svg" alt="#">
            <h1 id="text-logo" class="col-1">codeft.</h1>
        </div>

        <div class="row mb-4 text-center">
            <h2 id="text-reg" class="col-4 offset-4 text-uppercase">sign up</h2>
        </div>

        <div class="row mb-3">
            <input type="email" id="inputEmail" class="input col-4 offset-4 mx-auto" placeholder="Email" aria-describedby="Email">
        </div>

        <div class="row mb-3">
            <input type="text" id="inputLogin" class="input col-4 offset-4 mx-auto" placeholder="Login" aria-describedby="Login">
        </div>

        <div class="row mb-5">
            <input type="password" id="inputPassword" class="input col-4 offset-4 mx-auto" placeholder="Password" aria-describedby="Password">
        </div>

        <div class="row">
            <button class="buttonSignUp col-4 offset-4 mx-auto"> Sign up with <img id="imgMetaMask" src="img/MetaMask.svg" alt="#"> </button>
        </div>

        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
        const form = document.getElementById("reg-form")
        form.addEventListener('submit', registerUser)

        //send data as json
        async function registerUser(event){
            event.preventDefault()
            const email  = document.getElementById("email").value
            const username = document.getElementById("username").value
            const password = document.getElementById("password").value
            const metamask_address = document.getElementById("metamask_address").value

            const result = await fetch('/register', { //fetch data to server
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    email, username, password, metamask_address
                })
            }).then((res) => res.json())

            console.log(result)
        }

        let account;
        const accessToMetamask = async () => {
            if(window.ethereum !== "undefined") {
                const accounts = await ethereum.request({ method: "eth_requestAccounts"});
                account = accounts[0];
                document.getElementById("accountArea").innerHTML = account;
                document.getElementById("metamask_address").value = account;
            }
        }
    </script>
</body>
</html>