<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap" rel="stylesheet">

    <title>upload files</title>
</head>

<body>
<nav class="navbar navbar-expand-sm navbar-light px-3">
    <a href="projectlist.html" class="navbar-brand">
        <img id="logo" src="img/logo.svg" alt="#">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navContent" aria-controls="navContent" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navContent">
        <div class="mx-auto"></div>
        <ul class="navbar-nav mr-auto align-items-end">
            <li class="nav-item">
                <a class="aMenu nav-link" href="signin.html">
                    Sign In
                </a>
            </li>
            <li class="nav-item">
                <a class="aMenu nav-link" href="signup.html">
                    Sign Up
                </a>
            </li>
            <li class="nav-item">
                <a class="aMenu nav-link" href="profile.html">
                    Profile
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <form action="" id="uploadForm" class="position-absolute top-50 start-50 translate-middle">
        <h1 id="text-auth" class="row col-4 offset-4 justify-content-center mb-4 text-nowrap text-uppercase">
            new project
        </h1>

        <input type="text" id="inputProjectName" class="input row col-4 offset-4 mb-3 p-3 mx-auto" placeholder="Project name" aria-describedby="Project name">

        <input type="text" id="inputPrice" class="input row col-4 offset-4 mb-3 p-3 mx-auto" placeholder="Price" aria-describedby="Price">

        <input type="text" id="inputCount" class="input row col-4 offset-4 mb-3 p-3 mx-auto" placeholder="Count" aria-describedby="Count">

        <input type="text" id="inputDescr" class="input row col-4 offset-4 mb-3 p-3 mx-auto" placeholder="Description" aria-describedby="Description">

        <input class="addFile justify-content-center row col-4 mb-3 p-3 mx-auto row" type="file" id="file" required/>

        <input type="submit" class="buttonCreate text-uppercase justify-content-center row col-4 mb-3 p-3 mx-auto" value="create">
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script>
    const form = document.getElementById("uploadForm");
    form.addEventListener('submit', upload);

    //send data as jason
    async function upload(event){
        event.preventDefault();

        const numberOfTokens = document.getElementById("inputCount").value;
        const info = document.getElementById("inputDescr").value;
        const projectName = document.getElementById("inputProjectName").value;
        const input = document.getElementById("file");
        const price = document.getElementById("inputPrice").value;

        const fd = new FormData();
        fd.append('numberOfTokens', numberOfTokens);
        fd.append('info', info);
        fd.append('projectName', projectName);
        fd.append('file', input.files[0]);
        fd.append('price', price);
        
        const result = await fetch('/upload', {
            method: 'POST',
            body: fd,
        })
        .then(res => res.json());

        console.log(result);

        if (result.status === true){
            window.location.replace("/projectlist");
        }

    }
  </script>
</body>

</html>