<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap" rel="stylesheet">

    <title>upload files</title>
</head>

<body>
    <div id="scene">
        <div class="item" data-depth="0.2"><img class="pol1" src="img/pol/p1.svg" alt="#"></div>
        <div class="item" data-depth="0.3"><img class="pol2" src="img/pol/p2.svg" alt="#"></div>
        <div class="item" data-depth="0.2"><img class="pol3" src="img/pol/p3.svg" alt="#"></div>
        <div class="item" data-depth="0.3"><img class="pol4" src="img/pol/p4.svg" alt="#"></div>
        <div class="item" data-depth="0.2"><img class="pol5" src="img/pol/p5.svg" alt="#"></div>
        <div class="item" data-depth="0.2"><img class="pol6" src="img/pol/p6.svg" alt="#"></div>
        <div class="item" data-depth="0.3"><img class="pol7" src="img/pol/p7.svg" alt="#"></div>
        <div class="item" data-depth="0.3"><img class="pol8" src="img/pol/p8.svg" alt="#"></div>
        <div class="item" data-depth="0.5"><img class="pol9" src="img/pol/p9.svg" alt="#"></div>
        <div class="item" data-depth="0.5"><img class="pol10" src="img/pol/p10.svg" alt="#"></div>
        <div class="item" data-depth="0.4"><img class="pol11" src="img/pol/p11.svg" alt="#"></div>
        <div class="item" data-depth="0.4"><img class="pol12" src="img/pol/p12.svg" alt="#"></div>
        <div class="item" data-depth="0.4"><img class="pol13" src="img/pol/p13.svg" alt="#"></div>
        <div class="item" data-depth="0.5"><img class="pol14" src="img/pol/p14.svg" alt="#"></div>
        <div class="item" data-depth="0.5"><img class="pol15" src="img/pol/p15.svg" alt="#"></div>
    </div>

    <nav class="navbar px-3">
        <a href="index.html">
            <img id="logo" src="img/logo.svg" alt="#">
        </a>
        <ul class="navbar-nav d-inline">
            <li class="nav-item d-inline px-2">
                <a class="aMenu" href="profile.html">
                    Profile
                </a>
            </li>
        </ul>
    </nav>

    <div class="container">
        <form action="" id="uploadForm" class="position-absolute top-50 start-50 translate-middle">
            <h1 id="text-auth" class="row col-4 offset-4 justify-content-center mb-4 text-nowrap text-uppercase">
                new project
            </h1>

            <input type="text" id="inputProjectName" class="input inputProjectName row col-6 mb-5 p-3 mx-auto" placeholder="Project name" aria-describedby="Project name">

            <div class="row justify-content-center align-items-center">
                <input type="text" id="inputPrice" class="input inputPrice col-3 p-3 mb-5" placeholder="Price" aria-describedby="Price">

                <input type="text" id="inputCount" class="input inputCout col-3 p-3 mb-5" placeholder="Count" aria-describedby="Count">
            </div>

            <input type="text" id="inputDescr" class="input inputDescr row col-4 p-3 mb-5 mx-auto" placeholder="Description" aria-describedby="Description">

            <div class="row col-11 mx-auto justify-content-center align-items-center">

                <label class="col-2">
                    <p class="text-addFile text-nowrap pb-0 mb-0">
                        Add file
                        <object>
                            <img class="imgAdd" src="img/addFile.svg" alt="#">
                        </object>
                    </p>
                    <input id="addFile" type="file" hidden>
                </label>

                <p class="col-3 pb-0 mb-0"></p>
                <p class="text-uploadFile col-2 pb-0 mb-0" id="file_name"></p>

            </div>
            <input type="submit" class="buttonCreate row col-2 mt-3 mx-auto text-uppercase justify-content-center align-items-center" value="create">
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
    <script>
        var scene = document.getElementById('scene');
        var parallaxInstance = new Parallax(scene);

        document.getElementById('addFile').addEventListener('change', function() {

            var p;
            p = document.getElementById('file_name');
            p.innerHTML = this.files[0].name;
        });

        const form = document.getElementById("uploadForm");
        form.addEventListener('submit', upload);

        //send data as jason
        async function upload(event){
            event.preventDefault();

            const numberOfTokens = document.getElementById("inputCount").value;
            const info = document.getElementById("inputDescr").value;
            const projectName = document.getElementById("inputProjectName").value;
            const input = document.getElementById('addFile')
            const price = document.getElementById("inputPrice").value;

            const fd = new FormData();
            fd.append('numberOfTokens', numberOfTokens);
            fd.append('info', info);
            fd.append('projectName', projectName);
            fd.append('file', input.files[0]);
            fd.append('price', price);
            
            const result = await fetch('/upload', {
                method: 'POST',
                body: fd,
            })
            .then(res => res.json());

            console.log(result);

            if (result.status === true){
                window.location.replace("/projectlist");
            }

        }
    </script>
</body>

</html>